@layer base {
    html {
        /*@apply scroll-smooth  bg-gradient-to-r from-slate-50 to-blue-500;*/
    }
    h1 {
        @apply text-slate-900 text-center text-4xl  font-extrabold
    }
    h2 {
        @apply text-slate-900 text-center text-4xl font-extrabold
    }
    h3 {
        @apply bg-gradient-to-r from-sky-300 to-black bg-clip-text text-transparent text-4xl sm:text-5xl font-extrabold
    }
}

.neuro {
    border-radius: 50px;
    background: red;
    box-shadow:  20px 20px 60px red,
    -20px -20px 60px red;
}


@tailwind base;
@tailwind components;
@tailwind utilities